<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
<body>
  <%- include partials/_header %>
  <ul>
    <% for (let shortUrl in urls) { %>
      <li>
        <% let longUrl = urls[shortUrl].longUrl; %>
        ShortURL: <%= shortUrl %>
        LongURL: <a href="<%= longUrl %>"><%= longUrl %></a>

        <form method="POST" action="/urls/<%= shortUrl %>/delete">
          <input type="submit" value="Delete">
          <a href="/urls/<%= shortUrl%>">Edit</a>
        </form>
      </li>
    <% } %>
  </ul>
  <a href="/urls/new">Shorten a new URL here</a>
</body>

</html>


